.container{
    margin: auto;
    margin-top: 75px;
    margin-left: 350px;
}

.uben{
    background-color: blue;
    width: 70%;
    height: 200px;
}

.map{
   
    width: 70%;
    height: 400px;
   
   
    
    

}